.App {
  text-align: center;
}
.head{
  height: 100px;
  background-color: rgb(241, 238, 13);
}
.foot{
  clear: both;
  height: 150px;
  background-color: rgb(224, 204, 28);
}
.left{
  float: left;
  height:450px;
  width:20%;
  background-color: rgb(8, 236, 57);
}
.right{
  float: right;
  height:450px;
  width:80%;
  background-color: rgb(0, 81, 255);
}